.content p
{
    line-height: 140%;
    margin-bottom: 15px;
}

.content h2, .content h3 
{
    margin: 20px 0 15px;
}

.content
{
    gap: 30px;
    margin-bottom: 70px;
}

#contact-form .form-control
{
    margin-bottom: 9px;    
}

#contact-form .btn 
{
    width: 100%;
}

#contact-form .form 
{
    background: #d0d0d0;
    padding: 25px 30px 32px;    
}

@media (min-width: 768px) {
    .newsletter
    {
        margin-top: 0;
    }
}

@media (min-width: 991px) {
    .content
    {
        grid-template-columns: 2fr 1fr;
    }    
}
