@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Asap Condensed';
    src: url('../fonts/asapcondensed-semibold-webfont.woff2') format('woff2'),
         url('../fonts/asapcondensed-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Asap Condensed';
    src: url('../fonts/asapcondensed-regular-webfont.woff2') format('woff2'),
         url('../fonts/asapcondensed-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root 
{
    --dark: #121212;    
    --primary: #ff1800;
    --primary_dark: #d41905;
    --gray: #828282;
    --light_gray: #dedede;
}

*, *:before, *:after 
{
    box-sizing: border-box;
}

html
{
    font-size: 89%;
    scroll-behavior: smooth;
}

body
{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--light_gray);
    color: var(--gray);
    line-height: 1.4;
}

.font-asap
{
    font-family: 'Asap Condensed', sans-serif;
    font-weight: 600;
    color: var(--dark);
}

a {color: inherit; transition: all .2s ease}
p, h1, h2, h3, h4, h5 {margin: 0; line-height: 120%;}
svg.stroke {stroke: currentColor}
svg.fill {fill: currentColor}
.block, picture {display: block}
.flex {display: flex}
.flex-column {flex-direction: column}
.justify-between {justify-content: space-between}
.justify-center {justify-content: center}
.align-center {align-items: center}
.grid {display: grid}
.rounded {border-radius: 50%}
.img-responsive {max-width: 100%; display: block; height: auto}
.dark {color: var(--dark)}
.white {color: #fff}
.relative {position: relative}
.text-center {text-align: center}
.text-muted {color: var(--gray)}
.text-dark {color: var(--dark)}
button {background: none; border: none; border-radius: 0; outline: none}

.container 
{
    max-width: 1310px;
    margin: 0 auto;
}

.dark-bg
{
    background-color: var(--dark);
    color: var(--gray);
}

.title
{
    font-size: 28px;
}

.dark-bg h1,
.dark-bg h2,
.dark-bg h3,
.dark-bg h4,
.dark-bg h5
{
    color: #fff;
}

.nav a 
{
    text-decoration: none;
    display: block;
}

.form-control 
{
    display: block;
    border: none;
    background: none;
    border-bottom: 2px solid var(--gray);
    padding: 0;
    width: 100%;
    height: 46px;
    outline: none;
    box-shadow: none;
    transition: all .3s ease;
}

.form-control:focus 
{
    border-color: var(--dark);
    text-indent: 6px;
}

.form-control::placeholder
{
    transition: opacity .4s ease;
}

.form-control:focus::placeholder
{
    opacity: .3;
}

.btn
{
    display: inline-block;
    padding: 14px 20px;
    text-decoration: none;
    transition: color .2s, background-color .3s, border-color .3s, padding .2s;
    transition-timing-function: ease;
    cursor: pointer;
}

.btn svg 
{
    vertical-align: middle;
}

.btn-small-icon
{
    padding: 5px 10px 7px;
}

.btn-small
{
    padding: 10px 15px;
}

.btn-dark
{
    background-color: var(--dark);
    color: var(--light_gray);
}

.btn-dark:is(:hover, :focus, :active)
{
    background-color: var(--primary);    
    color: #fff;
}

.btn-grey
{
    background-color: #919191;
    color: #fff;
}

.btn-grey:is(:hover, :focus, :active)
{
    background-color: var(--dark);
    color: #fff;
}

.btn-primary 
{
    background-color: var(--primary);
    color: #fff;
}

.btn-primary:is(:hover, :focus, :active)
{
    background-color: var(--primary_dark);   
}

.btn-white
{
    background-color: #fff;
    color: var(--dark);
}

.btn-white:is(:hover, :focus, :active)
{
    background-color: #eaeaea;
}

.nav 
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.views:before, .length:before, .date:before
{
    content: '';
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    position: relative;
    top: -2px;
    display: inline-block;
    font-size: 0.93rem;
    margin-right: 4px;
    transition: opacity .3s ease;
}

.dark-bg .views:before, .dark-bg .length:before, .dark-bg .date:before
{
    opacity: .5;
}

.posts-list .views:before
{    
    background-image: url('../images/icon-watch.svg');
}

.views:before
{    
    background-image: url('../images/icon-watch-white.svg');
}

.posts-list .length:before
{
    background-image: url('../images/icon-time.svg');
}

.length:before
{
    background-image: url('../images/icon-time-white.svg');
}

.posts-list .date:before
{
    background-image: url('../images/icon-date.svg');
}

.date:before
{
    background-image: url('../images/icon-date-white.svg');
}

.date-row
{
    gap: 10px 15px;
    flex-wrap: wrap;
    align-items: center;
}

.category:before
{
    content: '';
    display: inline-block;
    width: 35px;
    height: 1px; 
    background-color: #9d9d9d;
    vertical-align: middle;
    margin-right: 10px;
}

.active-slide
{
    position: absolute;
    inset: 0;
    z-index: -1;
}

.active-slide .image
{
    height: 100%;
}

.active-slide .image * 
{
    height: 100%;
    object-fit: cover;
}

.active-slider-of
{
    color: #a0a0a0;
    font-weight: 400;
    font-size: 38px;
    letter-spacing: 0.12em;
    padding-left: 7%;
    margin-top: 10px;
}

.active-slider-of .big
{
    font-weight: 600;
    font-size: 60px;    
}

.navigation .arrow
{
    width: 22%;
    border: none;
    border-radius: 0;
    padding: 0;
    aspect-ratio: 1 / 1;
    background-color: #fff;
    transition: all .3s ease;
    cursor: pointer;
}

.navigation .arrow-left 
{
    background-color: #eaeaea;
}

.navigation .arrow:is(:focus, :active, :hover)
{
    background-color: #505050;  
    color: #fff;  
}

.pagination-slider 
{
    background-color: var(--dark);
    gap: 8px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.pagination-slider .bullet 
{
    display: block;
    width: 7px;
    height: 7px;
    background-color: #fff;
    opacity: .4;
    border-radius: 2px;
    cursor: pointer;
}

.pagination-slider .bullet.active 
{
    opacity: 1;
}

.pagination 
{
    font-weight: 400;
    margin-top: 60px;
    background-color: #fff;
    gap: 1.6%;
    padding: 10px;
}

.pagination a[data-page] 
{
    text-decoration: none;
    padding: 7px 8px;
    font-size: 16px;
}

.pagination a[data-page]:hover,
.pagination a[data-page].active 
{
    background-color: rgb(255 24 0 / 20%);
    color: var(--dark);
}

.pagination a[data-next]
{
    margin-top: -45px;
    margin-left: 10px;
}

.pagination a[data-prev]
{
    margin-bottom: -45px;
    margin-right: 10px;
}

.dark-bg .item
{
    gap: 0 20px;
    padding: 16px 0;
    font-size: .9rem;
    line-height: 1.5;
    align-items: center;
    position: relative;
    isolation: isolate;
}

.dark-bg  .item:hover .name
{
    color: #fff;
}

.dark-bg .item:hover .views:before, .dark-bg .item:hover .length:before
{
    opacity: 1;
}

.dark-bg .item:before 
{
    content: '';
    display: block;
    background-color: transparent;
    position: absolute;
    right: -10%;
    top: 0;
    bottom: 0;
    width: 0;
    z-index: -1;
    transition: all .3s ease;
}

.dark-bg .item:hover:before
{
    width: 86%;    
    background-color: #262626;
}

.dark-bg .item .btn:is(:hover, :focus, :active)
{
    background-color: var(--primary);
    border-color: var(--primary);
}

.dark-bg .item .btn svg
{
    position: relative;
    left: 0;
    transition: left .3s ease;
}

.dark-bg .item .btn:is(:hover, :focus, :active) svg
{
    left: 2px;   
}

.dark-bg .item .image
{
    width: 32%;
}

.image img 
{
    width: 100%;
}

.item .image img
{
    filter: grayscale(1);
    transition: filter .2s ease;
}

.item:hover .image img
{
    filter: grayscale(0);
}

.dark-bg .item .caption
{
    width: 68%;
}

.dark-bg .item .btn 
{
    border: 1px solid #3d3d3d;
}

.dark-bg .item .line-info
{
    justify-content: space-between;
}

.dark-bg .item .name 
{
    margin-bottom: 8px;
    transition: color .3s ease;
}

.newsletter
{
    background-color: #d0d0d0;
    margin-top: 40px;
    padding-top: 20px;
}

.newsletter hgroup p
{
    font-weight: 400;
    font-size: 18px;
    color: #454545;    
}

.newsletter label 
{
    margin-bottom: 8px;
    display: block;
}

.newsletter form
{
    padding: 15px 9% 8%;
}

.newsletter .row 
{
    flex-direction: column;
}

.newsletter .form-control 
{
    border: none;
    border-left: 2px solid transparent;
    padding: 0 15px 0 42px;
    background-color: #fff;
    background-image: url('../images/newsletter.svg');    
    background-position: 14px center;
    background-repeat: no-repeat;
    width: auto;
    flex-grow: 1;
}

.newsletter .form-control:focus
{
    border-color: var(--dark);
    background-position: 16px center;
}

.newsletter .btn
{
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.newsletter .btn:after
{
    content: url('data:image/svg+xml, <svg width="14" height="14" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7.71729H14.435M14.435 7.71729L7.71751 0.999771M14.435 7.71729L7.71751 14.4348" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
    display: block;
    position: absolute;
    right: -18px;
    margin-top: 1px;
    transition: right .3s ease;
}

.newsletter .btn:is(:hover, :focus, :active)
{
    padding-right: 44px;
}

.newsletter .btn:is(:hover, :focus, :active):after
{
    right: 18px;
}

/* header */
#top 
{
    padding: 12px 20px 30px;
    align-items: flex-start;
}

#top li .btn
{
    position: relative;
}

#top li .btn:before 
{
    content: '';
    display: block;
    height: 2px;
    border-radius: 2px;
    background-color: var(--dark);
    position: absolute;
    right: 20px;
    bottom: 7px;
    width: 0;
    transition: width .2s ease;
}

#top li.active .btn
{
    font-weight: 700;   
}

#top li.active .btn,
#top li .btn:is(:hover, :focus, :active):not(.btn-dark)
{
    color: var(--dark);
}

#top li.active .btn:before,
#top li .btn:is(:hover, :focus, :active):not(.btn-dark):before
{
    width: 15px;    
}

/* blog */
.author
{
    align-items: center;
    gap: 0 8px;
}

#blog 
{
    margin-bottom: 40px;
}

#blog h1
{
    order: 1;
    font-size: 47px;
    margin: 0;
    padding-bottom: 65px;
    overflow: hidden;
}

#blog h1:before
{
    content: url('../images/icon-title.svg');
    display: block;
    position: absolute;    
    bottom: 20%;
    right: 17%;
}

#blog h1:after
{
    content: url('../images/icon-title-line.svg');
    display: block;
    position: absolute;  
    height: 76%;
    width: 59%;
    bottom: 0;
    left: -1px;  
    z-index: -1;
}

#blog h1 .relative:before
{
    content: '';
    display: block;
    background-color: var(--primary);
    opacity: .2;
    height: 48px;
    width: 70px;
    position: absolute;
    bottom: -12px;
    right: -15px;
    z-index: -1;
}

#blog .info-slide .author .block
{
    margin-top: 3px;    
}

#blog .active-slide 
{
    flex-direction: column;
}

.popular-articles
{
    padding: 20px 0 25px;
    order: 3;
}

.popular-articles h3
{
    font-size: 18px;
    padding: 12px 0 12px 7%;
    border-left: 7px solid var(--primary);
}

.popular-articles .item
{
    margin: 0 calc(7% + 7px);
}

#blog .info-slide
{
    order: 2;
}

#blog .navigation
{
    order: 2;
}

.info-slide .caption
{
    gap: 22px 0;
    background-color: rgb(18 18 18 / 58%);
    color: #bbb;
    padding: 20% 8% 13%;
}

.info-slide .caption .text-muted
{
    color: inherit;    
}

.info-slide .caption .font-asap,
.info-slide .caption .dark
{
    color: #fff;
}

.info-slide .description 
{
    margin: 20px 0 23px;
}

.info-slide .author
{
    order: -1;
}

.info-slide .label
{
    order: -2;    
    justify-content: flex-end;
    position: absolute;
    top: -25px;
}

.info-slide .description
{
    text-align: justify;
    margin-bottom: 10px;
}

/* Blog-list: Sekcja 2 */
.posts-list
{
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

#blog-list .posts-list
{
    display: none;
}

#blog-list .posts-list.show
{
    display: grid;
}

.posts-list .item
{
    gap: 10px 0;
}

.posts-list .name
{
    font-size: 18px;
    text-transform: uppercase;
}

.posts-list .description
{
    margin: 2px 0 7px;
}

.posts-list .btn 
{
    position: absolute;
    right: 17px;
    bottom: -25px;
}

.tabs
{
    gap: 6px;
    justify-content: center;
}

.tabs .active,
.tabs .btn:is(:hover)
{
    background-color: #fff;
    color: var(--dark);
}

.search .btn 
{
    position: absolute;
    right: 0;
    padding: 0;
    bottom: 6px;
    top: 0;
}

.search .btn:is(:hover, :focus, :active)
{
    color: var(--primary);
}

.search .form-control
{
    height: 38px;
}

#blog-list .title
{
    padding-left: 12px;
}

#blog-list .title:before
{
    content: '';
    display: block;
    background-color: var(--primary);
    opacity: .2;
    height: 26px;
    width: 51px;
    position: absolute;
    bottom: -3px;
    left: 0;
    z-index: -1;
}

#blog-list header 
{
    margin-bottom: 25px;
    gap: 0 5%;
}

#social-media .icons 
{
    text-align: center;
    margin-top: 10px;
}

#social-media p
{
    background-image: url('../images/icon-social.svg');
    background-position: 5% center;
    background-repeat: no-repeat;
    padding-left: 105px;
    flex-grow: 1;
    margin-top: 6px;
}

.footer 
{
    font-size: .9rem;
}

.footer .links a 
{
    padding: 16px;
}

.footer .links a:is(:hover, :focus, :active) 
{
    color: #fff;
}

@media (min-width: 768px) {
    .container 
    {
        padding: 0 20px;
    }
    
    .visible-xs
    {
        display: none;
    }
       
    .btn-small
    {
        padding: 10px 15px;
    }

    .flex-sm
    {
        display: flex;
    }
    
    .grid-sm 
    {
        display: grid;
    }

    .container 
    {
        padding: 0 50px;
    }
    
    .title
    {
        font-size: 34px;
    }
    
    #top
    {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        padding: 50px 0 0;
    }
    
    #top .btn-dark 
    {
        margin-left: 20px;
    }
    
    #top .btn-contact span
    {
        left: 0;
        transition: left .2s ease;
    }
    
    #top .btn-contact:is(:hover, :focus, :active) span
    {
        left: -5px;
    }
    
    #top li .btn-contact:before
    {
        content: url('data:image/svg+xml, <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.6637 13.1661C10.6637 13.1661 12.0732 12.5513 12.4404 12.4067C12.8067 12.2613 13.1705 12.2542 13.3739 12.411C13.6818 12.6488 16.2513 14.7941 16.4668 14.9827C16.6823 15.1717 16.7437 15.6508 16.3731 16.0732C16.0037 16.4958 14.3327 18.1437 13.7103 18.0562C13.087 17.9677 9.67305 18.4467 5.30423 13.0065C0.936204 7.568 1.98161 4.14077 2.02985 3.5131C2.07806 2.88576 4.04747 1.60893 4.53975 1.33903C5.03264 1.06953 5.48708 1.24078 5.62508 1.48328C5.78195 1.75933 7.30242 4.71984 7.46841 5.05822C7.58211 5.28945 7.4923 5.64469 7.27133 5.97137C7.05128 6.29881 6.14708 7.54264 6.14708 7.54264C6.14708 7.54264 6.58284 8.5142 8.19596 10.522C9.80936 12.5301 10.6637 13.1661 10.6637 13.1661Z" stroke="white" stroke-width="2" stroke-miterlimit="10"/></svg>');
        display: block;
        position: absolute;
        top: 9px;
        bottom: 9px;
        right: -24px;
        text-align: center;
        padding: 5px 0 0 2px;
        width: 30px;
        border-radius: 6px;
        height: auto;
        background-color: var(--primary_dark);
        opacity: 0;
        transition: all .3s ease;
    }
    
    #top li .btn-contact:is(:hover, :focus, :active):before
    {
        opacity: 1;
        right: -14px;
    }
    
    /* Blog: Section 1 */
    #blog
    {
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: auto 1fr;
        margin-bottom: 55px;
    }
    
    #blog h1
    {
        font-size: 66px;
        order: 2;
    }
    
    #blog .info-slide
    {
        grid-column: span 2;
        grid-row: span 2;
        order: 1;
    }
    
    #blog .popular-articles
    {
        order: 3;
    }
    
    .info-slide .caption
    {
        padding-top: 35px;
    }
    
    #blog .info-slide .label
    {
        position: static;
    }
    
    #blog .info-slide .label .btn
    {
        position: relative;
        right: -60px;
    }
    
    #blog .info-slide .btn-primary 
    {
        position: absolute;
        right: -115px;
        top: -16px;
    }
    
    #blog .info-slide .btn-primary svg
    {
        margin-right: 8px;    
        transform: rotate(45deg);
        transition: all .3s ease;
        position: relative;
        left: 0;
    }
    
    #blog .info-slide .btn-primary:is(:hover, :focus, :active) svg
    {   
        transform: rotate(0);
        left: -2px;
        margin-right: 10px;
    }
    
    #blog .active-slide .image 
    {
        flex-grow: 1;
        margin-bottom: -1px;
    }
    
    #blog .info-slide .date-row
    {
        margin-right: 25px;
    }
    
    .posts-list
    {
        grid-template-columns: repeat(2, 1fr);
        gap: 54px;
    }
    
    .posts-list .item:before 
    {
        content: '';
        display: block;
        position: absolute;
        background-color: transparent;
        inset: -20px;
        z-index: -1;
        transition: background-color .4s ease;
    }

    .posts-list .item:hover:before 
    {
        background-color: #fff;
    }
    
    .posts-list .image 
    {
        margin-bottom: 6px;
    }
    
    .info-slide .views:before
    {    
        background-image: url('../images/icon-watch.svg');
    }

    .info-slide .length:before
    {
        background-image: url('../images/icon-time.svg');
    }

    .info-slide .date:before
    {
        background-image: url('../images/icon-date.svg');
    }
    
    #blog-list header 
    {
        margin-bottom: 55px;
    }
    
    .pagination 
    {
        width: 50%;
        margin-top: 80px;
    }
    
    .newsletter
    {
        width: 43%;
        margin-top: -15px;
        padding-top: 0;
    }
    
    .newsletter hgroup
    {
        margin-top: -24px;
    }
    
    #social-media
    {
        width: 50%;
        padding-top: 60px;
        align-items: flex-start;
    }
    
    #social-media .btn
    {
        padding: 13px 14px;    
    }
    
    #social-media strong 
    {
        margin-top: 3px;
    }
    
    .footer 
    {
        margin-top: 30px;
    }
    
}

@media (min-width: 991px) {
    
    .flex-md 
    {
        display: flex;
    }
    
    .info-slide .caption
    {
        padding: 35px 20px 0 0;
        background-color: transparent;
        color: inherit;
    }
    
    #blog
    {
        grid-template-columns: 1fr 1fr 1.5fr;
    }
    
    #blog .info-slide > div
    {
        width: 50%;
    }
    
    #blog .info-slide h3 
    {
        margin-right: -31%;
        position: relative;
        margin-top: -4%;
    }
    
    #blog .info-slide .caption:before 
    {
        content: url('../images/icon-title-line2.svg');
        display: block;
        position: absolute;
        bottom: -14px;
        right: -1px;
        z-index: -1;
    }
    
    .info-slide .caption .text-muted
    {
        color: var(--gray);    
    }
    
    .info-slide .caption .font-asap,
    .info-slide .caption .dark
    {
        color: var(--dark);
    }
    
    .info-slide .description 
    {
        margin: 0 0 10px 0;
    }
    
    .active-slide
    {
        position: static;
    }
    
    .active-slide .image
    {
        height: auto;
    }
    
    .active-slider-of .big
    {
        color: var(--dark);
    }
    
    .posts-list
    {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .pagination 
    {
        width: 45%;
    }
    
    .pagination:before 
    {
        content: '';
        display: block;
        background-color: #fff;
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        left: -50vw;
    }
    
    #social-media .icons 
    {
        margin: 0;
    }
    
    .newsletter .row 
    {
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .newsletter .btn
    {
        justify-content: flex-start;
    }
}

/* Only Mobile */
@media (max-width: 767px) {
    
    .hidden-xs 
    {
        display: none;
    }
    
    .container-xs
    {
        padding: 0 22px;
    }
    
    #top nav 
    {
        position: fixed;
        visibility: hidden;
        opacity: 0;
        transition: opacity .4s ease; 
        background: rgb(255 255 255 / 95%);
        z-index: 4;
        padding: 70px 30px 30px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    #button-menu
    {
        padding: 12px;
        background-color: var(--dark);
        color: #fff;
        width: 40px;
        height: 40px;
        position: fixed;
        z-index: 5;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }

    #button-menu > span 
    {
        display: block;
        height: 1.5px;
        width: 10px;
        background-color: currentColor;    
        position: absolute;
        left: 12px;
        top: 14px;
        pointer-events: none;
        transition: all .3s ease;
    }
    
    #button-menu > span:nth-child(1)
    {
        left: 17px;
    }
    
    #button-menu > span:nth-child(2)
    {
        width: 17px;
        top: 19px;
    }
    
    #button-menu > span:nth-child(3)
    {
        left: 14px;
        top: 24px;
    }
    
    #button-menu.open 
    {
        background-color: var(--primary);
    }
    
    #button-menu.open > span:nth-child(1),
    #button-menu.open > span:nth-child(3)
    {
        width: 19px;
        top: 19px;
        left: 11px;
    }
    
    #button-menu.open > span:nth-child(1)
    {
        transform: rotate(-45deg);
    }
    
    #button-menu.open > span:nth-child(2)
    {
        opacity: 0;
    }
    
    #button-menu.open > span:nth-child(3)
    {
        transform: rotate(45deg);
    }
    
    #button-menu.open + nav 
    {
        opacity: 1;
        visibility: visible;
    }
    
    #top li.active .btn:before, #top li .btn:is(:hover, :focus, :active):not(.btn-dark):before
    {
        left: 30px;
        right: 30px;
        width: auto;
        bottom: 23px;
        opacity: .3;   
    }
    
    .pagination-slider,
    .posts-list .category
    {
        order: -1;    
    }
    
    #blog-list:before
    {
        content: '';
        display: block;
        position: absolute;
        inset: -45px 10% auto 0;
        height: 70px;
        background-image: url('../images/icon-title-line2.svg');
        background-size: contain;
        z-index: -1;
        background-position: right top;
        background-repeat: no-repeat;
    }
    
    #blog-list .title
    {
        margin-bottom: 25px;
    }
    
    .posts-list .image,
    .footer .nav 
    {
        order: -2;
    }
    
    .pagination
    {
        margin-bottom: 40px;
    }
    
    .footer .container 
    {
        flex-direction: column;
        padding-bottom: 12px;
    }

}

/* Only Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm
    {
        display: none;
    }
}