@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Asap Condensed';
    src: url('../fonts/asapcondensed-semibold-webfont.woff2') format('woff2'),
         url('../fonts/asapcondensed-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Asap Condensed';
    src: url('../fonts/asapcondensed-regular-webfont.woff2') format('woff2'),
         url('../fonts/asapcondensed-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root 
{
    --dark: #121212;    
    --primary: #ff1800;
    --primary_dark: #d41905;
    --gray: #828282;
    --light_gray: #dedede;
}

html
{
    font-size: 89%;
}

body
{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--light_gray);
    color: var(--gray);
    line-height: 1.4;
}

.font-asap
{
    font-family: 'Asap Condensed', sans-serif;
    font-weight: 600;
    color: var(--dark);
}

a {color: inherit}
p, h1, h2, h3, h4, h5 {margin: 0; line-height: 120%;}
svg.stroke {stroke: currentColor}
svg.fill {fill: currentColor}
.block, picture {display: block}
.flex {display: flex}
.flex-column {flex-direction: column}
.justify-between {justify-content: space-between}
.justify-center {justify-content: center}
.align-center {align-items: center}
.grid {display: grid}
.rounded {border-radius: 50%}
.img-responsive {max-width: 100%; display: block; height: auto}
.dark {color: var(--dark)}
.relative {position: relative}
.text-center {text-align: center}
.text-muted {color: var(--gray)}
button {background: none; border: none; border-radius: 0; outline: none}

.container 
{
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 20px;
}

.dark-bg
{
    background-color: var(--dark);
    color: var(--gray);
}

.title
{
    font-size: 34px;
}

.dark-bg h1,
.dark-bg h2,
.dark-bg h3,
.dark-bg h4,
.dark-bg h5
{
    color: #fff;
}

.form-control 
{
    display: block;
    border: none;
    background: none;
    border-bottom: 2px solid var(--gray);
    padding: 0;
    width: 100%;
    height: 46px;
    outline: none;
    box-shadow: none;
    transition: all .3s ease;
}

.form-control:focus 
{
    border-color: var(--dark);
    text-indent: 6px;
}

.btn
{
    display: inline-block;
    padding: 14px 20px;
    text-decoration: none;
    transition: color .2s, background-color .3s, border-color .3s;
    transition-timing-function: ease;
}

.btn svg 
{
    vertical-align: middle;
}

.btn-small-icon
{
    padding: 5px 10px 7px;
}

.btn-small
{
    padding: 10px 15px;
}

.btn-dark
{
    background-color: var(--dark);
    color: var(--light_gray);
}

.btn-dark:is(:hover, :focus, :active)
{
    background-color: var(--primary);    
    color: #fff;
}

.btn-grey
{
    background-color: #919191;
    color: #fff;
}

.btn-grey:is(:hover, :focus, :active)
{
    background-color: var(--dark);
    color: #fff;
}

.btn-primary 
{
    background-color: var(--primary);
    color: #fff;
}

.btn-primary:is(:hover, :focus, :active)
{
    background-color: var(--primary_dark);   
}

.btn-white
{
    background-color: #fff;
    color: var(--dark);
}

.btn-white:is(:hover, :focus, :active)
{
    background-color: #eaeaea;
}

.nav 
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.views:before, .length:before, .date:before
{
    content: '';
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    position: relative;
    top: -2px;
    display: inline-block;
    font-size: 0.93rem;
    margin-right: 4px;
    transition: opacity .3 ease;
}

.dark-bg .views:before, .dark-bg .length:before, .dark-bg .date:before
{
    opacity: .5;
}

.views:before
{    
    background-image: url('../images/icon-watch.svg');
}

.dark-bg .views:before
{    
    background-image: url('../images/icon-watch-white.svg');
}

.length:before
{
    background-image: url('../images/icon-time.svg');
}

.dark-bg .length:before
{
    background-image: url('../images/icon-time-white.svg');
}

.date:before
{
    background-image: url('../images/icon-date.svg');
}

.dark-bg .date:before
{
    background-image: url('../images/icon-date-white.svg');
}

.date-row
{
    gap: 10px 15px;
    flex-wrap: wrap;
    align-items: center;
}

.category:before
{
    content: '';
    display: inline-block;
    width: 35px;
    height: 1px; 
    background-color: #9d9d9d;
    vertical-align: middle;
    margin-right: 10px;
}

.active-slider-of
{
    color: #a0a0a0;
    font-weight: 400;
    font-size: 38px;
    letter-spacing: 0.12em;
    padding-left: 7%;
    margin-top: 10px;
}

.active-slider-of .big
{
    color: var(--dark);
    font-weight: 600;
    font-size: 60px;    
}

.navigation .arrow
{
    width: 22%;
    border: none;
    border-radius: 0;
    padding: 0;
    aspect-ratio: 1 / 1;
    background-color: #fff;
    transition: all .3s ease;
    cursor: pointer;
}

.navigation .arrow-left 
{
    background-color: #eaeaea;
}

.navigation .arrow:is(:focus, :active, :hover)
{
    background-color: #505050;  
    color: #fff;  
}

.pagination-slider 
{
    background-color: var(--dark);
    gap: 8px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.pagination-slider .bullet 
{
    display: block;
    width: 7px;
    height: 7px;
    background-color: #fff;
    opacity: .4;
    border-radius: 2px;
    cursor: pointer;
}

.pagination-slider .bullet.active 
{
    opacity: 1;
}

.pagination 
{
    font-weight: 400;
    margin-top: 80px;
    background-color: #fff;
    width: 50%;
    gap: 1.6%;
    padding: 10px;
}

.pagination:before 
{
    content: '';
    display: block;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: -50vw;
}

.pagination a[data-page] 
{
    text-decoration: none;
    padding: 7px 8px;
    font-size: 16px;
}

.pagination a[data-page]:hover,
.pagination a[data-page].active 
{
    background-color: rgb(255 24 0 / 20%);
    color: var(--dark);
}

.pagination a[data-next]
{
    margin-top: -45px;
    margin-left: 10px;
}

.pagination a[data-prev]
{
    margin-bottom: -45px;
    margin-right: 10px;
}

.dark-bg .item
{
    gap: 0 20px;
    padding: 16px 0;
    font-size: .9rem;
    line-height: 1.5;
    align-items: center;
    position: relative;
    isolation: isolate;
}

.dark-bg  .item:hover .name
{
    color: #fff;
}

.dark-bg .item:hover .views:before, .dark-bg .item:hover .length:before
{
    opacity: 1;
}

.dark-bg .item:before 
{
    content: '';
    display: block;
    background-color: transparent;
    position: absolute;
    right: -10%;
    top: 0;
    bottom: 0;
    width: 0;
    z-index: -1;
    transition: all .3s ease;
}

.dark-bg .item:hover:before
{
    width: 86%;    
    background-color: #262626;
}

.dark-bg .item .btn:is(:hover, :focus, :active)
{
    background-color: var(--primary);
    border-color: var(--primary);
}

.dark-bg .item .image
{
    width: 32%;
}

.item .image img
{
    filter: grayscale(1);
    transition: filter .2s ease;
}

.item:hover .image img
{
    filter: grayscale(0);
}

.dark-bg .item .caption
{
    width: 68%;
}

.dark-bg .item .btn 
{
    border: 1px solid #3d3d3d;
}

.dark-bg .item .line-info
{
    justify-content: space-between;
}

.dark-bg .item .name 
{
    margin-bottom: 8px;
}

.newsletter
{
    background-color: #d0d0d0;
    width: 43%;
    margin-top: -15px;
}

.newsletter hgroup
{
    margin-top: -24px;
}

.newsletter hgroup p
{
    font-weight: 400;
    font-size: 18px;
    color: #454545;    
}

.newsletter label 
{
    margin-bottom: 8px;
    display: block;
}

.newsletter form
{
    padding: 25px 9% 9%;
}

.newsletter .form-control 
{
    border: none;
    border-left: 2px solid transparent;
    padding: 0 15px 0 42px;
    background-color: #fff;
    background-image: url('../images/newsletter.svg');    
    background-position: 14px center;
    background-repeat: no-repeat;
}

.newsletter .form-control:focus
{
    border-color: var(--dark);
    background-position: 16px center;
}

/* header */
#top li .btn
{
    position: relative;
}

#top li .btn:before 
{
    content: '';
    display: block;
    height: 2px;
    border-radius: 2px;
    background-color: var(--dark);
    position: absolute;
    right: 20px;
    bottom: 7px;
    width: 0;
    transition: width .2s ease;
}

#top li.active .btn
{
    font-weight: 700;   
}

#top li.active .btn,
#top li .btn:is(:hover, :focus, :active):not(.btn-dark)
{
    color: var(--dark);
}

#top li.active .btn:before,
#top li .btn:is(:hover, :focus, :active):not(.btn-dark):before
{
    width: 15px;    
}

/* blog */
.author
{
    align-items: center;
    gap: 0 8px;
}

#blog .info-slide .author .block
{
    margin-top: 3px;    
}

.popular-articles
{
    padding: 20px 0 25px;
}

.popular-articles h3
{
    font-size: 18px;
    padding: 12px 0 12px 7%;
    border-left: 7px solid var(--primary);
}

.popular-articles .item
{
    margin: 0 calc(7% + 7px);
}

/* Blog-list: Sekcja 2 */
.posts-list
{
    grid-template-columns: repeat(1, 1fr);
}

.posts-list .item
{
    gap: 10px 0;
}

.posts-list .item:before 
{
    content: '';
    display: block;
    position: absolute;
    background-color: transparent;
    inset: -20px;
    z-index: -1;
    transition: background-color .4s ease;
}

.posts-list .item:hover:before 
{
    background-color: #fff;
}

.posts-list .image 
{
    margin-bottom: 6px;
}

.posts-list .name
{
    font-size: 18px;
    text-transform: uppercase;
}

.posts-list .description
{
    margin: 2px 0 7px;
}

.posts-list .btn 
{
    position: absolute;
    right: 17px;
    bottom: -25px;
}

.tabs
{
    gap: 6px;
}

.tabs .active,
.tabs .btn:is(:hover, :focus, :active)
{
    background-color: #fff;
    color: var(--dark);
}

.search .btn 
{
    position: absolute;
    right: 0;
    padding: 0;
    bottom: 6px;
    top: 0;
}

#blog-list .title
{
    padding-left: 12px;
}

#blog-list .title:before
{
    content: '';
    display: block;
    background-color: var(--primary);
    opacity: .2;
    height: 26px;
    width: 51px;
    position: absolute;
    bottom: -3px;
    left: 0;
    z-index: -1;
}

#blog-list header 
{
    margin-bottom: 55px;
}

@media (min-width: 768px) {
    .posts-list
    {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

@media (min-width: 991px) {
    
    .container 
    {
        padding: 50px 50px 0;
    }
    
    #top
    {
        justify-content: space-between;
        margin-bottom: 50px;
    }
    
    #top .btn-dark 
    {
        margin-left: 20px;
    }
    
    /* Blog: Section 1 */
    #blog
    {
        grid-template-columns: 1fr 1fr 1.5fr;
        grid-template-rows: auto 1fr;
        margin-bottom: 55px;
    }
    
    #blog .info-slide
    {
        grid-column: span 2;
        grid-row: span 2;
        order: 1;
    }
    
    #blog .popular-articles
    {
        order: 3;
    }
    
    #blog h1
    {
        order: 2;
        font-size: 66px;
        margin: 0;
        padding-bottom: 65px;
        overflow: hidden;
    }
    
    #blog h1:before
    {
        content: url('../images/icon-title.svg');
        display: block;
        position: absolute;    
        bottom: 20%;
        right: 17%;
    }
    
    #blog h1:after
    {
        content: url('../images/icon-title-line.svg');
        display: block;
        position: absolute;  
        height: 76%;
        width: 59%;
        bottom: 0;
        left: -1px;  
    }
    
    #blog h1 .relative:before
    {
        content: '';
        display: block;
        background-color: var(--primary);
        opacity: .2;
        height: 48px;
        width: 70px;
        position: absolute;
        bottom: -12px;
        right: -15px;
        z-index: -1;
    }
    
    #blog .info-slide > div
    {
        width: 50%;
    }
    
    #blog .info-slide .caption
    {
        padding-top: 35px;    
        gap: 22px 0;
    }
    
    #blog .info-slide .caption:before 
    {
        content: url('../images/icon-title-line2.svg');
        display: block;
        position: absolute;
        bottom: -14px;
        right: -1px;
        z-index: -1;
    }
    
    #blog .info-slide .author
    {
        order: -1;
    }
    
    #blog .info-slide .label
    {
        order: -2;    
        justify-content: flex-end;
    }
    
    #blog .info-slide .label .btn
    {
        position: relative;
        right: -60px;
    }
    
    #blog .info-slide h3 
    {
        margin-right: -31%;
        position: relative;
        margin-top: -4%;
    }
    
    #blog .info-slide .description
    {
        text-align: justify;
        margin-bottom: 10px;
    }
    
    #blog .info-slide .btn-primary 
    {
        position: absolute;
        right: -115px;
        top: -16px;
    }
    
    #blog .info-slide .btn-primary svg
    {
        margin-right: 8px;    
    }
    
    #blog .info-slide .caption
    {
        padding-right: 20px;
    }
    
    #blog .active-slide 
    {
        flex-direction: column;
    }
    
    #blog .active-slide .image 
    {
        flex-grow: 1;
        margin-bottom: -1px;
    }
    
    #blog .active-slide .image * 
    {
        height: 100%;
        object-fit: cover;
    }
    
    #blog .info-slide .date-row
    {
        margin-right: 25px;
    }
    
    .posts-list
    {
        grid-template-columns: repeat(3, 1fr);
    }
    
}
